<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BFI2JApplication"
        tools:targetApi="31">
        <activity
            android:name=".VerificationActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".GuestUpgradeActivity"
            android:exported="false" />
        <activity
            android:name=".PrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".ShareLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.BFI2JApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".SelectionActivity"
            android:exported="false" />
        <activity
            android:name=".DiagnosisActivity"
            android:exported="false" />
        <activity
            android:name=".RoutineDetailActivity"
            android:exported="false" />
        <activity
            android:name=".MonsterDetailActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".OpennessResultActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".NeuroticismResultActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".ConscientiousnessResultActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".AgreeablenessResultActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".TrainingDetailActiivty"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity> <!-- <activity -->
        <!-- android:name=".HomeActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".ResultDetailActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="true" />
        <activity
            android:name=".ResultActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BFI2JApplication" /> <!-- 画像をシェアするためのプロバイダー設定 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>